name: qa

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  VERSION: 14

jobs:
  formatting-check:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get install clang-format-${{ env.VERSION }}

      - name: clang-format check
        run: |
          cmake_common_version="v3.4"
          script_name="project-clang-format.py"
          script_path="${{ github.workspace }}/$script_name"
          download_url="https://raw.githubusercontent.com/egor-tensin/cmake-common/$cmake_common_version/tools/$script_name"
          curl -s -o "$script_path" "$download_url"
          python3 "$script_path" --clang-format "clang-format-${{ env.VERSION }}" --style "file"

  check-spdx-tags:
    name: check spdx tags
    defaults:
      run:
        shell: bash -el {0}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: kt3k/license_checker@v1.0.6
